/* =========================
    Universal
========================== */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: auto;
    margin: 0;
}

/* =========================
    Navigation
========================== */

/* =========================
    Slideshow
========================== */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* =========================
    Body
========================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.pic {
    order: 4;
    flex: 0 auto;
}

img {
    width: 250px;
    height: 100%;
    margin: 20px 20px;
    flex: 1 auto;
}


/* =========================
    Media Queries
========================== */


