/* =========================
    Global
========================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursives;
    width: auto;
}

/* =========================
    Header
========================== */

.main-header {
  background: linear-gradient(lightslategray, transparent 90%),
  linear-gradient(0deg, lightgrey, transparent);
  border: 12px double lightgrey;  
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.carousel-pic {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 9px double white;
}

.carousel-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.myCarousel {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* =========================
    Gallery
========================== */

.gallery-container {
  background: linear-gradient(firebrick, transparent 90%),
  linear-gradient(0deg, lightgrey, transparent);
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pic:nth-child(2n+1) {
    border: 8px solid lightslategray;
}

.gallery li:nth-child(2n) {
    background-color: lightslategrey;
}

.pic {
    width: 250px;
    height: 100%;
    margin: 20px 20px;
    flex: 1 auto;
}

/* =========================
    Modal
========================== */

/* Trigger */
.modal-button {
  /* border-radius: 5px; */
  cursor: pointer;
  transition: 0.3s;
}

.modal-button:hover {opacity: 0.7;}

/* Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 250px;
}

/* Caption (Image Text) */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 480px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* =========================
    Text Styles
========================== */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* =========================
    Media Queries
========================== */

@media only screen and (max-width: 480px){
  .modal-content {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .carousel-pic {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .subname {
    color: lightslategray;
    font-size: 24px;
  }
}
  
  @media only screen and (min-width: 768px) {
  
    .title {
      float: center;
      font-size: 1.4em;
    }   
  }
  
  @media only screen and (min-width: 1140px) {
  
    .wrapper {
      width: 1026px;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2em;
    }    
  }
    
  /*************************
  Clearfix
  *************************/
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  
  .clearfix:after {
    clear: both;
  }
  
  .clearfix {
    *zoom: 1;
  }  